* {
    box-sizing: border-box;
  }

.app {
  margin-top: 100px;
  padding: 30px 20px;
}

.app__heading1, .app__heading2 {
  font-family: 'Work Sans', sans-serif;
}

.app__heading1 {
  font-size: 25px;
}

.app__heading2 {
  font-size: 20px;
  font-weight: normal;
}

p {
  font-family: 'Lato', sans-serif;
}

.app__info {
  border-bottom: 1px dotted black;
}

.by {
  font-style: italic;
}
