.audition-name {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

.audition__item {
    background-color: rgb(111, 146, 243);
    color: rgb(6, 20, 102);
    border-radius: 5px;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}

p.attributes {
    font-family: 'Lato', sans-serif;
}

.audition__edit__button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 50%;
    padding-top: 30px;
    width: 20%;
    color:  rgb(255, 185, 185);
    background-color: rgb(1, 85, 1);
    text-align: center;
}

.audition__edit__button a{
    color:rgb(255, 185, 185);
    font-weight: bold;
    font-size: 16px;
}

.audition__delete {
    border: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 50%;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 20%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(6, 20, 102);
    text-align: center;
}

.audition__delete:hover, .audition__delete:focus {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}