.Navbar {
    margin: auto;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(6, 20, 102);
}

.app__heading__nav {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color:  rgb(255, 185, 185)
}

.Nav__list {
    display: block;
    margin-left: 0; 
    padding-left: 0;
}

.Nav__list li {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

.Nav__link {
    color:  rgb(255, 185, 185)
}