.AuditionList__add-audition-button {
  position: fixed;
  right: 10%;
  bottom: 10%;
  background-color: rgb(255, 185, 185);
  padding: 10px;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
}

.CastingList__add-casting-button {
  position: fixed;
  right: 10%;
  bottom: 10%;
  background-color: rgb(255, 185, 185);
  padding: 10px;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
}

@media only screen and (min-width: 1200px) {
  .AuditionList__add-audition-button {
    height: 50px;
    width: 160px;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
  }
  .CastingList__add-casting-button {
    width: 160px;
    height: 80px;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
  }
}