* {
    box-sizing: border-box;
  }
  
  body {
    margin: 20px 50px;
    padding: 100px 50px 100px 50px;
  }
  
  header {
    font-size: 36px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    background-color: darkgrey;
  }
  
  .signup__label, .signup__input, .submit__button {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .signup__form {
    margin-bottom: 40px;
    background-color: lightgrey
  }
  
  .direction {
    font-weight: normal;
    font-size: 25px;
    text-align: center;
  
  }